.column {
  display: flex;
  border-radius: 3px;
  background-color: #b1b1b1;
  width: 200px;
  height: 200px;
  border-radius: 12px;
  flex-direction: column;  
}

.header {
  display: flex;
  text-align: right;
  height: 60px;
  background-color: #505AC9;
  border-radius: 12px 12px 0px 0px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  justify-content: space-between;
}

.column:hover{
  height: 416px;
  width: 416px;
  margin-bottom: -540px;
  margin-right: -216px;
  z-index: 100; 
  transition: 0.2s;
  background-color: #dadada;
}

.column:hover .list{
  visibility: visible;
  width: 416px;
  height: 600px;
  padding-bottom: 0rem;
  transition: 0.2s;
  overflow-y: scroll;
}

.title {
  font-size: 17px;
  font-weight: 600;
  color: white;
}

.list {
  visibility: visible;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 200px;
  width: 200px;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: hidden;
}

.column:hover .users {
  height: 90px;
  transition: 0.2s;
}

.users {
  display: flex;
  margin-top: 0.4rem;
  background-color: #f2f2f2;
  border-radius: 3px;
  flex-direction: column;
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-top: 0;
  width: 100%;
  height: 24px;
}

.users p {
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.users input {
  margin: 0px;
  display: inline-block;
  margin-top: -100px!important;
  height: 20px!important;
  border: 0px!important;
  position: relative;
  width: 27px!important;
  font-size: 17px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.column .users .hidden {
  visibility: hidden;
}

.column:hover .users .hidden {
  visibility: visible;
  transition: 0.2s;
}

.column:hover .close {
  visibility: visible;
}

.close {
  visibility: hidden;
  color: white;
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
}

.close:hover {
  cursor: pointer;
  color: #847e7e;
}

.dragging {
  outline: 2px solid;
  outline-color: red;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  visibility: visible;
}
.noClose {
  display: none;
}
.team {
  margin: 0px;
}

.userCol {
  background-color: #847e7e;
  width: 416px;
  height: 620px;

}
.userCol:hover {
  height: 620px;
  margin-bottom: 0;
  margin-right: 0px;
  background-color: #847e7e;
}
.userHeader {
  background-color: #464343;
  justify-content: left;
}
.count {
  font-size: 17px;
  font-weight: 600;
  color: white;
}
.userTitle {
  margin-left: 6.26rem;
}
.userList {
  visibility: visible;
  display: flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  flex: 1;
  flex-direction: column;
  width: 200px;
}