.input {
    width: 30rem !important;
}
.button {
    padding: 15px 20px 15px 20px;
    margin-right: 2rem;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #505ac9;
    color: #464343;
    font-weight: bold;
    font-size: 15px;
  }
  .button:hover {
    background-color: #505ac9;
    cursor: pointer;
    color: white;
  }